/* CODE SERGE */

@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Roboto&display=swap');




/*/////////////////////////////////////////////////////////////////////////////*/


html, body{
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 138, 70, 0.829);
    font-family: 'Roboto', sans-serif;
}

/* ----------> HEADER <---------- */


.head-li{
    border: 3px solid #805D49;
    border-top: 7px solid #805D49;
    border-bottom: 7px solid #805D49;
    padding: 34px 38px;
}

.head-li:hover{
    background-color: #FF9457;
    border: 3px ridge black;
    box-shadow: 0px 0px 12px black;
    padding: 38px;
}

.head-lien{
    color: white;
    text-decoration: none;
    font-family: 'Patua One', cursive;
    text-shadow: 1px 1px 3px black;
}

#head-container{
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #805D49;
    box-shadow: 0px 4px 3px black;
    border: 3px ridge #3e2626;
}

#ul-container{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

#dropdown:hover{
    display: flex;
    align-items: center;
    text-align: center;
    width: 73.86px;
    height: 18px;
}

#dropdown-child{
    display: none;
    border: 1px solid black;
}

#dropdown-child a{
    display: block;
    text-decoration: none;
    color: white;
}

#dropdown:hover #dropdown-child{
    display: block;
    padding: 10px 45px;
    border-bottom: 1px ridge black;
    background-color: #803205;
    font-family: 'Josefin Sans', sans-serif;
}

#ulofcat{
    position: relative;
    padding: 0;
    top: 105px;
    left: -110px;
    box-shadow: 0px 4px 12px black;
}

#dropdown:hover #dropdown-child:hover {
    transform: scale(1.1);
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    background-color: #FF8945;
}

#dropdown:hover #dropdown-child:hover a{
    transform: scale(1.2);
    text-shadow: 1px 1px 3px black;
}



/* ----------> FOOTER <---------- */



#foot-container{
    background-color: #421A03;
    bottom: 0;
    width: -webkit-fill-available;
    display: flex;
}

#foot-ul-cont{
    flex-basis: 10%;
    list-style-type: square;
    font-size: 14px;
}

#vide{
    flex-basis: 10%;
}

#copyright{
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

.foot-lien{
    text-decoration: none;
    color: white;
    font-family: 'Patua One', cursive;
}

.foot-lien:hover{
    color:#CC5537
}

.foot-listyle{
    color:#FF943F;
}



/* ----------> ARTICLE <---------- */





#main-art{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#pgp-art{
    margin: 0;
    height: 200px;
    padding: 7px;
}

#coment-container{
    border-radius: 8px;
    border: 1px solid black;
    width: 77%;
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
}

#form-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#area-art{
    width: 90%;
    resize: none;
    padding: 7px;
}

#coment-title{
    width: 40%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-end;
    font-size: 16px;
}

#but-sendart{
    margin: 15px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}

#but-sendart:hover{
    background-color: #563f3f;
    color: white;
}

#one-coment{
    border: 3px ridge black;
    margin: 15px 0;
    border-radius: 5px;
    background-color: white;
}

#art-aside{
    width: 80%;
    border: 4px ridge black;
    padding: 0 15px;
    margin: 45px auto;
}

#par-com{
    border-bottom: 1px solid black;
    margin: 0;
    padding: 15px 7px;
}

#the-article{
    background-color: white;
    border: 1px solid black;
    width: 607px;
    border: 9px double black;
    margin-top: 50px;
}

#sp{
    display: flex;
    justify-content: flex-end;
    padding: 2px 8px 2px 0;
    background-color: #803E18;
    color: white;
    text-shadow: 1px 1px 3px black;
}

#error-article{
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px 0;
    border: 3px ridge #ff3710;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 12px;
}

#creation{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border-top: 1px solid black;
    background-color: bisque;
    font-weight: bold;
}

#title-of-coment{
    border-bottom: 2px solid black;
    margin: 0;
    padding: 10px 0;
}

mark{
    margin-left: 3px;
    border-radius: 2px;
    padding: 0px 2px;
    background-color: #ffa104;
}


/* ----------> CREER UN ARTICLE <---------- */



#main-creart{
    min-height: 829px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#art-of-creart{
    display: flex;
    height: 600px;
    width: 800px;
    border: 1px ridge black;
    border-radius: 12px;
    background-color: white;
}

#block-creart{
    flex-basis: 40%;
    background-color: black;
    border-radius: 12px 0 0 12px;
}

#form-creart{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #b5acac;
}

#block-creart2{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

#select-containt{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

#block-form-creart{
    display: flex;
    flex-basis: 66%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}

#selCat{
    width: 150px;
    padding: 10px 14px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #FFBA91;
}

#button-creart{
    width: 150px;
    padding: 10px 14px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
}

#button-creart:hover{
    background-color: #805D49;
}

#textArt{
    border: 3px ridge black;
    resize: none;
    height: 103px;
    padding: 5px;
}

#creart-title{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    margin: 0;
}

#error-txt-creart{
    position: absolute;
    top: 330px;
    left: 972px;
    background-color: red;
    padding: 8px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}











/*amine*/

p{
    margin: 0;
}
.error{
    color: rgb(167, 0, 0);
}
/* End Init */

#main-articles{
    display: flex;
    min-height: 829px;
}

section[id=section-articles]{
padding: 1%;
background-color: #804522e7;
width: 90%;
min-height: 90%;
margin: 3% auto 3%;
border-radius: 1em;
border:5px black solid;
box-shadow: 2px 14px 14px 8px rgb(36, 35, 35);
font-family: 'Roboto', sans-serif;
}

/* #FFBA91
#FF8B46
#805D49
#CC6E37 */

/* MENU DEROULANT CLASSEMENT CATEGORIES */
#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     border-radius: 6px;
     margin-bottom:2px;
     border:solid 1px #333A40;
     width: 100%;
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     box-shadow: none;
     border:none;
     margin:0;

  }

  #lien-articles-cat{
    text-decoration: none;
    color: #42210d;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 30px;
    font-weight: bold;
  }

  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: 'Liu Jian Mao Cao', cursive;
padding: 3% 0 5% 0;
    font-size:3vw;
    color: #131313;

  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
  }
  
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }

table,tr,td{
border:2px black solid;
border-radius: 6px;
border:2px rgb(0, 0, 0) solid;
text-align: center;
color:white;
border-radius: 0.5em;
width: 40%;
margin:2% auto;

}

td{
background-color:rgb(188, 119, 63) ;
font-size: 1.5vw;
width: 40%;
box-shadow: 1px 1px 1px 0.5px rgb(36, 35, 35);
}

th{
font-size: 1.5vw;
}



table{
background-color: #805D49;
border:5px black solid;
box-shadow: 2px 14px 14px 8px rgb(36, 35, 35);
height: auto;
}

.form{
    margin:50px auto;
}

.articles{
  width: 40%;
  height: 100px;

}


#pagination{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(209, 209, 209);
  border:2px black solid;
  width: 39%;
  font-size: x-large;
  margin: 0 auto;
  padding: 5px;
  border-radius: 0.5em;
  border:5px black solid;
  box-shadow: 2px 4px 14px 8px rgb(36, 35, 35);
}

.titrePrincipal{
  background-color:rgb(247, 171, 128) ;
  border:3px black solid;
  border-radius: 0.3em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #fffafa, -2px 4px 1px #e2dede, -3px 6px 1px #d6c2c2, -4px 8px 1px #e7b6b6, -5px 10px 1px #fa7777,
   -6px 12px 1px #fb843f, -8px 16px 1px;
}

#bodyArticles a{
  text-decoration: none;
}





/* PAGE INDEX */


main[id=main_index]{
background-color: rgb(255, 138, 70, 0.829);
width: 100%;
height: 100%;
box-shadow: 2px 14px 14px 8px rgb(36, 35, 35);
}

section[id=lastnews]{
width: 90%;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: #CC5537;
padding: 2%;
border-radius: 0.5em;
box-shadow: 4px 4px 12px black;


}

#lastarticles{
border: 2px black solid;
background-color: #FFBA91;
font-size: 1.5vw;
margin: auto;
padding: 1%;
width: 20%;
font-family: 'Roboto', sans-serif;
text-align: center;
border-radius: 0.5em;
box-shadow: 4px 4px 12px black;


}

.aligncenter{
text-align: center;
font-family: 'Liu Jian Mao Cao', cursive;
font-size: 2vw;
box-shadow: 4px 4px 12px black;
}

.titre0{
text-align: center;
font-family: 'Liu Jian Mao Cao', cursive;
font-size: 2vw;
}

div[class=aligncenter]{
    height: auto;
    padding: 16px;
    width: 15%;
    font-size: 25px;
    border-radius: 0.5em;
    font-weight: bold;
    border: 1px black solid;
    background-color: #d6c2c2;
    margin: 41px auto 21px;
}

#lien-aligncenter{
    color: #5a1e01;
    text-shadow: 1px 1px 3px #000000;
    font-size: 30px;
}

#body_index a{
text-decoration: none;
}
  
section[id=texte_accueil]{
width: 70%;
margin: 4% auto 3%;
text-align: center;
border-radius: 0.5em;
font-size: 1.7vw;
padding: 1px 0 1px 0;
background-color: #e7b6b6;
font-family: 'Liu Jian Mao Cao', cursive;
box-shadow: 4px 4px 12px black;


}


#titre{
    background-color: #805D49;
    color: white;
    border-radius: 0.2em;
}











/* CLEMENT */

header{
    width: 100%;
    height: 10%;
    background-color: #804522;
}
header#form{
    width: 100%;
    height: 10%;
    background-color: #804522;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
header#form a{
    color: inherit;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
}
header#form #home-link{
    margin-left: 10px;
}
header#form #login-link-button{
    margin-right: 10px;
    height: 50%;
    width: 100px;
}
header#form #login-link-button button{
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    border: 2px solid white;
    outline: none;
    cursor: pointer
}

main#login{
    /* background-color: #111; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 829px;
}
main#login p{
    margin: 0;
}
main#login #content{
    width: 45%;
    min-height: 600px;
    background-color: #805D49;
    border-radius: 5px;
    display: flex;
}

main#login #content .part{
    width: 50%;
    height: 100%;
}

main#login #content .part.title-part{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(background-form.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}
main#login #content .part.title-part p{
    font-size: 2vw;
    font-family: 'Pacifico', cursive;
    color: white;
    margin: 0;
}
main#login #content .part.form-part form{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
main#login #content .part.form-part form p:not(.error){
    color: white;
}
main#login #content .part.form-part form a{
    color: black;
}
main#login #content .part.form-part form input:not([type="submit"]){
    width: 70%;
    height: 35px;
    border-radius: 5px;
    border: 3px solid #333;
    background-color: white;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8vw;
}
main#login #content .part.form-part form input[type="submit"]{
    width: 50%;
    height: 50px;
    font-size: 0.8vw;
    background-color: #CC6E37;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
main#login #content .part.form-part form input[type="submit"]:focus{
    background-color: rgb(77, 53, 39);
}
/* End Main Form */
/* Main profile */
main.admin_profil{
    width: 100%;
    min-height: 829px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
main.admin_profil nav{
    min-height: 100%;
    width: 10%;
    background-color: #CC6E37;
}
main.admin_profil nav .nav-link{
    width: 100%;
    height: 50px;
    /* background-color: rgb(148, 80, 41); */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main.admin_profil nav .nav-link:hover{
    transition: background 250ms;
    background-color: rgb(148, 80, 41);
}
main.admin_profil nav .nav-link a{
    color: white;
    text-decoration: none;
}
main.admin_profil nav .current{
    background-color: rgb(148, 80, 41);
}

main.admin_profil section{
    width: 90%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main#profil section article{
    width: 70%;
    height: 95%;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 1.5fr 0.5fr;
    column-gap: 50px;
    row-gap: 30px;
}
main#profil section article .content{
    background-color: rgb(253, 196, 163);
    border-radius: 3px;
    color: black;
    box-shadow: 0px 0px 10px 1px #412311;
}
main#profil section article .content form input[type="submit"]{
    cursor: pointer;
    outline: none;
}
main#profil section article .content form input[type="submit"]:focus{
    transition: 250ms background;
    background-color: #412311;
}
main#profil section article .content#one{
    grid-row-start: 1;
    grid-row-end: 4;
}
main#profil section article .content#two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main#profil section article .content#two img{
    width: 30%;
    height: auto;
    border-radius: 100%;
    border: 2px solid white;
}
main#profil section article .content#two a{
    color: darkred;
    text-decoration: none;
}

main#profil section article .content#three form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main#profil section article .content#three form input:not([type="submit"]){
    width: 70%;
    height: 30px;
    text-align: center;
    font-size: 1vw;
    border: 2px solid #412311;
    outline: none;
    border-radius: 3px;
}
main#profil section article .content#three form input[type="submit"]{
    width: 50%;
    height: 30px;
    border: 2px solid #412311;
    background-color: #CC6E37;
    color: white;
}
main#profil section article .content#three form input[type="submit"]:focus{
    background-color: #412311;
    transition: 250ms background;
}
main#profil section article .content#four{
    grid-column-start: 2;
}
main#profil section article .content#four p{
    margin: 0;
    margin-top: 5px;
    text-align: center;
    font-size: 1vw;
}
main#profil section article .content#four form{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main#profil section article .content#four form input[type="submit"]{
    border: 1px solid #412311;
    width: 100px;
    height: 20px;
    background-color: #CC6E37;
    color: white;
}
main#profil section article .content#four form input[type="submit"]:focus{
    background-color: #412311;
    transition: 250ms background;
}
/* End Main profile */
/* Main Admin */
main#admin section{
    width: 90%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
}
main#admin section article{
    width: 30%;
    height: 90%;
    background-color: rgb(255, 132, 61);
    border-radius: 5px;
}
main#admin section article p.title{
    color: white;
    height: 60px;
    font-size: 1.5vw;
    background-color: #130904;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
main#admin section article table{
    width: 100%;
    height: 20px;
    background-color: #805D49;
    border-bottom: 2px solid white;
}
main#admin section article table th{
    width: 33%;
}
main#admin section article .user{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #412311;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
main#admin section article .user form input{
    width: 50px;
    border: 2px solid #130904;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
main#admin section article .user form input.remove{
    background-color: darkred;
}


















































