@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Roboto&display=swap');

body{
background-color: rgba(255, 138, 70, 0.829);
font-family: 'Roboto', sans-serif;
}

main[id=main_articles]{
padding: 1%;
background-color: #804522e7;
width: 90%;
margin: 3% auto 0;
border-radius: 1em;
border:5px black solid;
box-shadow: 2px 14px 14px 8px rgb(36, 35, 35);
}

/* #FFBA91

#FF8B46

#805D49

#CC6E37 */

/* MENU DEROULANT CLASSEMENT CATEGORIES */
#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     border-radius: 6px;
     margin-bottom:2px;
     border:solid 1px #333A40;
     width: 100%;
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     box-shadow: none;
     border:none;
     margin:0;

  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: 'Liu Jian Mao Cao', cursive;
padding: 3% 0 5% 0;
    font-size:3vw;
    color: #131313;

  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
  }
  
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }

table,tr,td{
border:2px black solid;
border-radius: 6px;
border:2px rgb(0, 0, 0) solid;
text-align: center;
color:white;
border-radius: 0.5em;
width: 40%;
margin:2% auto;

}

td{
background-color:rgb(188, 119, 63) ;
font-size: 1.5vw;
width: 40%;
box-shadow: 1px 1px 1px 0.5px rgb(36, 35, 35);
}

th{
font-size: 1.5vw;
}



table{
background-color: #805D49;
border:5px black solid;
box-shadow: 2px 14px 14px 8px rgb(36, 35, 35);
height: auto;
}

.form{
    margin:50px auto;
}

.articles{
  width: 40%;
  height: 100px;

}


#pagination{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(209, 209, 209);
  border:2px black solid;
  width: 39%;
  font-size: x-large;
  margin: 0 auto;
  padding: 5px;
  border-radius: 0.5em;
  border:5px black solid;
  box-shadow: 2px 4px 14px 8px rgb(36, 35, 35);
}

.titrePrincipal{
  background-color:rgb(247, 171, 128) ;
  border:3px black solid;
  border-radius: 0.3em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #fffafa, -2px 4px 1px #e2dede, -3px 6px 1px #d6c2c2, -4px 8px 1px #e7b6b6, -5px 10px 1px #fa7777,
   -6px 12px 1px #fb843f, -8px 16px 1px;
}

a{
  color: black;
  text-decoration: none;
}
