body{
background-color: #FF8B46;
    
}

main[id=main_articles]{
  padding: 1%;
background-color: #804522;
width: 90%;
margin: 5% auto 0;
border-radius: 1em;

}

/* #FFBA91

#FF8B46

#805D49

#CC6E37 */

/* MENU DEROULANT CLASSEMENT CATEGORIES */

#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     /* background-image: linear-gradient(to bottom, rgb(226, 90, 72) 0%, rgb(52, 71, 90) 100%); */
     border-radius: 6px;
     margin-bottom:2px;
     border:solid 1px #333A40;
     width: 440px;
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     box-shadow: none;
     border:none;
     margin:0;
     /* background: rgb(226, 90, 72); */

  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em;
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
  }
  #menu-accordeon li:hover {
     /* background: rgb(226, 90, 72); */
  }
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }

  table,tr,td{
    border:2px black solid;
    border-radius: 6px;
    border:2px rgb(0, 0, 0) solid;
    text-align: center;
    color:white;
    width: 450px;
}

td{
  background-color:rgb(182, 111, 70) ;
  font-size: 1.5vw;
}

th{
  font-size: 1.5vw;

}

/* TABLE WALL OF FAME */
table{
    /* margin: 65px auto 0px; */
    /* border-radius: 1em 1em 1em 1em; */
    /* border:8px rgb(255, 189, 158)solid; */
    background-color: #805D49;
    margin:0 auto;
    /* -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); */
}

.form{
    margin:50px auto;
}

.articles{
  width: 40%;
  height: 100px;
}


#pagination{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(209, 209, 209);
  border:2px black solid;
  width: 25.5%;
  font-size: x-large;
  margin: 0 auto;
  padding: 5px;
  border-radius: 0.5em;
}

.titrePrincipal{
  background-color:#FFBA91 ;
}

a{
  text-decoration: none;
}